In [23]:
import sqlite3

try:
    # Connect to Database and Create a cursor
    sqliteConnection = sqlite3.connect('assignment2.db')
    cursor = sqliteConnection.cursor()
    print('DB Init')
    
    # Write a query and execute it with cursor
    query = 'select sqlite_version();'
    cursor.execute(query)
    
    # Fetch and output result
    result = cursor.fetchall()
    print('SQLite Version is {}'.format(result))
    
    # Close the cursor
    cursor.close()
    
# Handle errors
except sqlite3.Error as error:
    print('Error occured - ',error)
        
# Close DB Connection irrespective of success
# or Failure
finally:
    if sqliteConnection:
        sqliteConnection.close()
        print('SQLite Connection closed')

DB Init
SQLite Version is [('3.41.2',)]
SQLite Connection closed

In [24]:
# Imported the Pandas-SQLite3
import sqlite3

# First we connect to the sqlite
connection = sqlite3.connect('assignment2.db')

# Created cursor
cur = connection.cursor()

# Checking if the table is already exist or not.
# If exists drop the table
cur.execute("DROP TABLE IF EXISTS CUSTOMER")

# Created table Customer
table = """CREATE TABLE CUSTOMER(
        Customerno INT NOT NULL,
        Customername VARCHAR(255) NOT NULL,
        City VARCHAR(255) NOT NULL,
        State VARCHAR(255) NOT NULL,
        Pincode VARCHAR(255) NOT NULL,
        Date_of_birth VARCHAR(255) NOT NULL,
        Status VARCHAR(255) NOT NULL
    );"""

cur.execute(table)

print("Table Created Successfully!!!")

# Closing the Connection
connection.close()

Table Created Successfully!!!

In [25]:
# Imported the Pandas-SQLite3
import sqlite3

# First we connect to the sqlite
connection = sqlite3.connect('assignment2.db')

# Created cursor
cur = connection.cursor()

# Adding values to the Customer Table
cur.execute('''INSERT INTO CUSTOMER VALUES(1901, 'Vyomesh Mistry', 'Waterloo', 'Ontario', 536014, '1995-01-15', 'A')''')
cur.execute('''INSERT INTO CUSTOMER VALUES(1902, 'Vrutti Mistry', 'Woodstock', 'Woodstock', 150035, '1997-11-20', 'B')''')
cur.execute('''INSERT INTO CUSTOMER VALUES(1903, 'Prutha Patel', 'Woodstock', 'Ontario', 150030, '1999-12-30', 'C')''')
cur.execute('''INSERT INTO CUSTOMER VALUES(1904, 'Karan Brambhatt', 'Newham', 'London', 900010, '1985-04-09', 'D')''')

# Displaying table data which I have inserted above
print("Table Data: ")
data = cur.execute('''SELECT * FROM CUSTOMER''')
for row in data:
    print(row)
    
# Commiting my changes to the database
connection.commit()

# Closing the Connection
connection.close()

Table Data:
(1901, 'Vyomesh Mistry', 'Waterloo', 'Ontario', '536014', '1995-01-15', 'A')
(1902, 'Vrutti Mistry', 'Woodstock', 'Woodstock', '150035', '1997-11-20', 'B')
(1903, 'Prutha Patel', 'Woodstock', 'Ontario', '150030', '1999-12-30', 'C')
(1904, 'Karan Brambhatt', 'Newham', 'London', '900010', '1985-04-09', 'D')

In [26]:
# Imported the Pandas-SQLite3
import sqlite3

# First we connect to the sqlite
connection = sqlite3.connect('assignment2.db')

# Created cursor
cur = connection.cursor()

# Updating the table
cur.execute('''UPDATE CUSTOMER SET State = "Alberta", Status = "A" WHERE Customerno = "1903"''')

# Displaying the table record, to see if the record got updated or not
cur.execute('''SELECT * FROM CUSTOMER''')
print(cur.fetchall())

# Commiting my changes to database
connection.commit()

# Closing Connection
connection.close()

[(1901, 'Vyomesh Mistry', 'Waterloo', 'Ontario', '536014', '1995-01-15', 'A'), (1902, 'Vrutti Mistry', 'Woodstock', 'Woodstock', '150035', '1997-11-20', 'B'), (1903, 'Prutha Patel', 'Woodstock', 'Alberta', '150030', '1999-12-30', 'A'), (1904, 'Karan Brambhatt', 'Newham', 'London', '900010', '1985-04-09', 'D')]

In [27]:
# Imported the Pandas-SQLite3
import sqlite3

# First we connect to the sqlite
connection = sqlite3.connect('assignment2.db')

# Created cursor
cur = connection.cursor()

# Displaying particular rows only
cur.execute("SELECT * FROM CUSTOMER WHERE State = 'Woodstock'")
print(cur.fetchall())

# Commiting my changes to database
connection.commit()

# Closing Connection
connection.close()

[(1902, 'Vrutti Mistry', 'Woodstock', 'Woodstock', '150035', '1997-11-20', 'B')]

In [28]:
# Imported the Pandas-SQLite3
import sqlite3

# First we connect to the sqlite
connection = sqlite3.connect('assignment2.db')

# Created cursor
cur = connection.cursor()

# Displaying particular columns from the table
print("Data: ")
data = cur.execute("SELECT Customerno, Customername, state FROM CUSTOMER")
for row in data:
    print(row)

# Commiting my changes to database
connection.commit()

# Closing Connection
connection.close()

Data:
(1901, 'Vyomesh Mistry', 'Ontario')
(1902, 'Vrutti Mistry', 'Woodstock')
(1903, 'Prutha Patel', 'Alberta')
(1904, 'Karan Brambhatt', 'London')

In [29]:
# Imported the Pandas-SQLite3
import sqlite3

# First we connect to the sqlite
connection = sqlite3.connect('assignment2.db')

# Created cursor
cur = connection.cursor()

# Displaying Name and City of person in London
cur.execute("SELECT Customername, City FROM CUSTOMER WHERE State='London'")
print(cur.fetchall())

# Commiting my changes to database
connection.commit()

# Closing Connection
connection.close()

[('Karan Brambhatt', 'Newham')]

In [40]:
# Imported the Pandas-SQLite3
import sqlite3

# First we connect to the sqlite
connection = sqlite3.connect('assignment2.db')

# Created cursor
cur = connection.cursor()

# Checking if the table is already exist or not.
# If exists drop the table
cur.execute("DROP TABLE IF EXISTS DEPARTMENT")

# Created table Customer
table = """CREATE TABLE DEPARTMENT(
    dno INT NOT NULL,
    dname VARCHAR(255) NOT NULL,
    floor VARCHAR(255) NOT NULL,
    PRIMARY KEY(dno)
    );"""

cur.execute(table)

print("Table Created Successfully!!!")

# Adding values to the Department Table
cur.execute('''INSERT INTO DEPARTMENT VALUES(1, 'Toy', 3)''')
cur.execute('''INSERT INTO DEPARTMENT VALUES(2, 'Shoe', 2)''')
cur.execute('''INSERT INTO DEPARTMENT VALUES(3, 'Electronics', 4)''')  
    
# Displaying table data which I have inserted above
print("Table Data: ")
data = cur.execute('''SELECT * FROM DEPARTMENT''')
for row in data:
    print(row)
    
# Commiting my changes to database
connection.commit()

# Closing Connection
connection.close()

Table Created Successfully!!!
Table Data:
(1, 'Toy', '3')
(2, 'Shoe', '2')
(3, 'Electronics', '4')

In [42]:
# Imported the Pandas-SQLite3
import sqlite3

# First we connect to the sqlite
connection = sqlite3.connect('assignment2.db')

# Created cursor
cur = connection.cursor()

# Checking if the table is already exist or not.
# If exists drop the table
cur.execute("DROP TABLE IF EXISTS EMPLOYEE")

# Created table Employee
table = """CREATE TABLE EMPLOYEE(
    empno INT NOT NULL,
    empname VARCHAR(255) NOT NULL,
    dno INT,
    salary INT NOT NULL,
    age INT NOT NULL,
    FOREIGN KEY(dno) REFERENCES DEPARTMENT(dno),
    PRIMARY KEY(empno)
    );"""

cur.execute(table)

print("Table Created Successfully!!!")

# Adding Values to the Employees table
cur.execute('''INSERT INTO EMPLOYEE VALUES(101, 'Johnny', 1, 60000, 35)''')
cur.execute('''INSERT INTO EMPLOYEE VALUES(102, 'Jane', 3, 45000, 29)''')
cur.execute('''INSERT INTO EMPLOYEE VALUES(103, 'Smitha', 1, 70000, 31)''')  
cur.execute('''INSERT INTO EMPLOYEE VALUES(104, 'Tinu', 2, 65000, 26)''')
cur.execute('''INSERT INTO EMPLOYEE VALUES(105, 'Alice', 3, 55000, 30)''')

# Displaying table data which I have inserted above
print("Table Data: ")
data = cur.execute('''SELECT * FROM EMPLOYEE''')
for row in data:
    print(row)
    
# Commiting my changes to database
connection.commit()

# Closing Connection
connection.close()

Table Created Successfully!!!
Table Data:
(101, 'Johnny', 1, 60000, 35)
(102, 'Jane', 3, 45000, 29)
(103, 'Smitha', 1, 70000, 31)
(104, 'Tinu', 2, 65000, 26)
(105, 'Alice', 3, 55000, 30)

In [43]:
# Imported the Pandas-SQLite3
import sqlite3

# First we connect to the sqlite
connection = sqlite3.connect('assignment2.db')

# Created cursor
cur = connection.cursor()

# Displaying employee names
cur.execute("SELECT empname FROM EMPLOYEE")
print(cur.fetchall())

# Commiting my changes to database
connection.commit()

# Closing Connection
connection.close()

[('Johnny',), ('Jane',), ('Smitha',), ('Tinu',), ('Alice',)]

In [44]:
# Imported the Pandas-SQLite3
import sqlite3

# First we connect to the sqlite
connection = sqlite3.connect('assignment2.db')

# Created cursor
cur = connection.cursor()

# Displaying department names and employees
cur.execute("SELECT d.dname, e.empname FROM DEPARTMENT d JOIN EMPLOYEE e ON d.dno = e.dno ORDER BY d.dname ASC, e.empname DESC")
print(cur.fetchall())

# Commiting my changes to database
connection.commit()

# Closing Connection
connection.close()

[('Electronics', 'Jane'), ('Electronics', 'Alice'), ('Shoe', 'Tinu'), ('Toy', 'Smitha'), ('Toy', 'Johnny')]

In [49]:
# Imported the Pandas-SQLite3
import sqlite3

# First we connect to the sqlite
connection = sqlite3.connect('assignment2.db')

# Created cursor
cur = connection.cursor()

# Displaying Age and Salary of particular employee
cur.execute('''SELECT empname, age, salary FROM EMPLOYEE WHERE empname = "Smitha" OR empname = "Tinu"''')
print(cur.fetchall())

# Commiting my changes to database
connection.commit()

# Closing Connection
connection.close()

[('Smitha', 31, 70000), ('Tinu', 26, 65000)]

In [50]:
# Imported the Pandas-SQLite3
import sqlite3

# First we connect to the sqlite
connection = sqlite3.connect('assignment2.db')

# Created cursor
cur = connection.cursor()

# Displaying Employees wiht 'a' anywhere in their name
cur.execute("SELECT empname FROM EMPLOYEE WHERE empname LIKE '%a%' ")
print(cur.fetchall())

# Commiting my changes to database
connection.commit()

# Closing Connection
connection.close()

[('Jane',), ('Smitha',), ('Alice',)]

In [52]:
# Imported the Pandas-SQLite3
import sqlite3

# First we connect to the sqlite
connection = sqlite3.connect('assignment2.db')

# Created cursor
cur = connection.cursor()

# Displaying Employees working in Toy or shoe department
cur.execute("SELECT empname FROM EMPLOYEE WHERE dno IN (SELECT dno FROM DEPARTMENT WHERE dname = 'Toy' OR dname = 'Shoe')")
print(cur.fetchall())

# Commiting my changes to database
connection.commit()

# Closing Connection
connection.close()

[('Johnny',), ('Smitha',), ('Tinu',)]

In [56]:
# Imported the Pandas-SQLite3
import sqlite3

# First we connect to the sqlite
connection = sqlite3.connect('assignment2.db')

# Created cursor
cur = connection.cursor()

# Displaying Employees department
cur.execute("SELECT dname FROM DEPARTMENT WHERE dno = (SELECT dno FROM EMPLOYEE WHERE empname = 'Tinu')")
print(cur.fetchall())

# Commiting my changes to database
connection.commit()

# Closing Connection
connection.close()

[('Shoe',)]

In [61]:
# Imported the Pandas-SQLite3
import sqlite3

# First we connect to the sqlite
connection = sqlite3.connect('assignment2.db')

# Created cursor
cur = connection.cursor()

# Displaying Employees names & department name 
cur.execute("SELECT e.empname, d.dname FROM EMPLOYEE e JOIN DEPARTMENT d ON e.dno = d.dno")
print(cur.fetchall())

# Commiting my changes to database
connection.commit()

# Closing Connection
connection.close()

[('Johnny', 'Toy'), ('Jane', 'Electronics'), ('Smitha', 'Toy'), ('Tinu', 'Shoe'), ('Alice', 'Electronics')]

In [65]:
# Imported the Pandas-SQLite3
import sqlite3

# First we connect to the sqlite
connection = sqlite3.connect('assignment2.db')

# Created cursor
cur = connection.cursor()

# Adding Column and inserting data
cur.execute("ALTER TABLE EMPLOYEE ADD COLUMN joindate DATE")
cur.execute("UPDATE EMPLOYEE SET joindate = '2023-08-10' WHERE empname = 'John'")
cur.execute("UPDATE EMPLOYEE SET joindate = '2022-25-05' WHERE empname = 'Jane'")
cur.execute("UPDATE EMPLOYEE SET joindate = '2020-15-06' WHERE empname = 'Smmitha'")
cur.execute("UPDATE EMPLOYEE SET joindate = '2018-01-12' WHERE empname = 'Tinu'")
cur.execute("UPDATE EMPLOYEE SET joindate = '2016-19-03' WHERE empname = 'Alice'")

# Commiting my changes to database
connection.commit()

# Closing Connection
connection.close()

OperationalError: duplicate column name: joindate

In [66]:
# Imported the Pandas-SQLite3
import sqlite3

# First we connect to the sqlite
connection = sqlite3.connect('assignment2.db')

# Created cursor
cur = connection.cursor()

data = cur.execute("SELECT * FROM EMPLOYEE")
for row in data:
    print(row)

# Commiting my changes to database
connection.commit()

# Closing Connection
connection.close()

(101, 'Johnny', 1, 60000, 35, None)
(102, 'Jane', 3, 45000, 29, '2022-25-05')
(103, 'Smitha', 1, 70000, 31, None)
(104, 'Tinu', 2, 65000, 26, '2018-01-12')
(105, 'Alice', 3, 55000, 30, '2016-19-03')