In [7]:
# importing Pandas library
import pandas as pd

data = {
    'Object ID': [1,2,3,4],
    'Department': ['Department-A','Department-B','Department-C','Department-D'],
    'Object Name': ['Object-1','Object-2','Object-3','Object-4'],
    'Title': ['Title1','Title2','Title3','Title4'],
    'Culture': ['Culture E','Culture F','Culture G','Culture H'],
    'Artist Nationality': ['Nationality 1', 'Nationality 2', 'Nationality 1', 'Nationality 3'],
    'Object Begin Date': [10-2-2000, 5-5-2005, 12-11-2010, 26-3-2015],
    'Object End Date': [2-6-2010, 24-3-2015, 11-4-2020, 9-9-2025],
    'Medium': ['Medium 1', 'Medium 2', 'Medium 3', 'Medium 4'],
    'Credit Line': ['Credit Line 1', 'Credit Line 2', 'Credit Line 3', 'Credit Line 4'],
    'Country': ['USA', 'Canada', 'India', 'Australia']
}

df = pd.DataFrame(data)
print(df)

   Object ID    Department Object Name   Title    Culture Artist Nationality  \
0          1  Department-A    Object-1  Title1  Culture E      Nationality 1
1          2  Department-B    Object-2  Title2  Culture F      Nationality 2
2          3  Department-C    Object-3  Title3  Culture G      Nationality 1
3          4  Department-D    Object-4  Title4  Culture H      Nationality 3

   Object Begin Date  Object End Date    Medium    Credit Line    Country
0              -1992            -2014  Medium 1  Credit Line 1        USA
1              -2005            -1994  Medium 2  Credit Line 2     Canada
2              -2009            -2013  Medium 3  Credit Line 3      India
3              -1992            -2025  Medium 4  Credit Line 4  Australia

In [8]:
labels = ['AA','BB','CC','DD']

# Created DataFrame with the index label
df = pd.DataFrame(data, index=labels)

print(df)

    Object ID    Department Object Name   Title    Culture Artist Nationality  \
AA          1  Department-A    Object-1  Title1  Culture E      Nationality 1
BB          2  Department-B    Object-2  Title2  Culture F      Nationality 2
CC          3  Department-C    Object-3  Title3  Culture G      Nationality 1
DD          4  Department-D    Object-4  Title4  Culture H      Nationality 3

    Object Begin Date  Object End Date    Medium    Credit Line    Country
AA              -1992            -2014  Medium 1  Credit Line 1        USA
BB              -2005            -1994  Medium 2  Credit Line 2     Canada
CC              -2009            -2013  Medium 3  Credit Line 3      India
DD              -1992            -2025  Medium 4  Credit Line 4  Australia

In [9]:
# selecting specific columns from the dataframe

columns = df[['Department','Country']] 
print(columns)

      Department    Country
AA  Department-A        USA
BB  Department-B     Canada
CC  Department-C      India
DD  Department-D  Australia

In [18]:
# importing Pandas Library
import pandas as pd

data = {
    'Object ID': [1,2,3,4],
    'Department': ['Department-A','Department-B','Department-C','Department-D'],
    'Object Name': ['Object-1','Object-2','Object-3','Object-4'],
    'Title': ['Title1','Title2','Title3','Title4'],
    'Culture': ['Culture E','Culture F','Culture G','Culture H'],
    'Artist Nationality': ['Nationality 1', 'Nationality 2', 'Nationality 1', 'Nationality 3'],
    'Object Begin Date': [10-2-2000, 5-5-2005, 12-11-2010, 26-3-2015],
    'Object End Date': [2-6-2010, 24-3-2015, 11-4-2020, 9-9-2025],
    'Medium': ['Medium 1', 'Medium 2', 'Medium 3', 'Medium 4'],
    'Credit Line': ['Credit Line 1', 'Credit Line 2', 'Credit Line 3', 'Credit Line 4'],
    'Country': ['USA', 'Canada', 'India', 'Australia'],
    'Examination Attempts': ['4','5','2','1']
}

labels = ['AA','BB','CC','DD']

# Created DataFrame with the index label
df = pd.DataFrame(data, index=labels)
print(df)
print("")

print("Number of Attempts Greater than 2")
print("")

# Converting the 'Examination Attempts' Columns to numeric
df['Examination Attempts'] = pd.to_numeric(df['Examination Attempts'])

# Selecting the row which has record greater than 2
gt = df[df['Examination Attempts'] > 2]
print(gt)

    Object ID    Department Object Name   Title    Culture Artist Nationality  \
AA          1  Department-A    Object-1  Title1  Culture E      Nationality 1
BB          2  Department-B    Object-2  Title2  Culture F      Nationality 2
CC          3  Department-C    Object-3  Title3  Culture G      Nationality 1
DD          4  Department-D    Object-4  Title4  Culture H      Nationality 3

    Object Begin Date  Object End Date    Medium    Credit Line    Country  \
AA              -1992            -2014  Medium 1  Credit Line 1        USA
BB              -2005            -1994  Medium 2  Credit Line 2     Canada
CC              -2009            -2013  Medium 3  Credit Line 3      India
DD              -1992            -2025  Medium 4  Credit Line 4  Australia

   Examination Attempts
AA                    4
BB                    5
CC                    2
DD                    1

Number of Attempts Greater than 2

    Object ID    Department Object Name   Title    Culture Artist Nationality  \
AA          1  Department-A    Object-1  Title1  Culture E      Nationality 1
BB          2  Department-B    Object-2  Title2  Culture F      Nationality 2

    Object Begin Date  Object End Date    Medium    Credit Line Country  \
AA              -1992            -2014  Medium 1  Credit Line 1     USA
BB              -2005            -1994  Medium 2  Credit Line 2  Canada

    Examination Attempts
AA                     4
BB                     5

In [24]:
# importing Pandas library
import pandas as pd

# Wrote a code for reading the 'coalpublic2013' excel file
df = pd.read_excel('coalpublic2013.xlsx')
print(df)

    Year  MSHA ID                       Mine_Name  Production  Labor_Hours
0   2013   103381            Tacoa Highwall Miner       56004        22392
1   2013   103404                Reid School Mine       28807        28447
2   2013   100759  North River #1 Underground Min     1440115       474784
3   2013   103246                      Bear Creek       87587        29193
4   2013   103451                     Knight Mine      147499        46393
5   2013   103433              Crane Central Mine       69339        47195
6   2013   100329                    Concord Mine           0       144002
7   2013   100851                  Oak Grove Mine     2269014      1001809
8   2013   102901                Shoal Creek Mine           0        12396
9   2013   102901                Shoal Creek Mine     1453024      1237415
10  2013   103180             Sloan Mountain Mine      327780       196963
11  2013   103182                        Fishtrap      175058        87314
12  2013   103285                     Narley Mine      154861        90584
13  2013   103332                   Powhatan Mine      140521        61394
14  2013   103375                    Johnson Mine         580         1900
15  2013   103419               Maxine-Pratt Mine      125824       107469
16  2013   103432                   Skelton Creek        8252          220
17  2013   103437         Black Warrior Mine No 1      145924        70926
18  2013   102976   Piney Woods Preparation Plant           0        14828
19  2013   102976   Piney Woods Preparation Plant           0        23193
20  2013   103380                          Calera           0        12621
21  2013   103380                          Calera           0         1402
22  2013   103422                 Clark No 1 Mine      122727       140250
23  2013   103467             Helena Surface Mine       59664        30539
24  2013   101247                       No 4 Mine     2622528      1551141
25  2013   101401                       No 7 Mine     5405412      2464719
26  2013   103172  Searles Mine No. 2, 3, 4, 5, 6      258078       119542
27  2013   103179             Fleetwood Mine No 1       75937        63745
28  2013   103303                    Shannon Mine      317491       164388
29  2013   103323                   Deerlick Mine      133452        46381
30  2013   103364           Brc Alabama No. 7 Llc           0        14324
31  2013   103436                Swann's Crossing      137511        77190
32  2013   100347                    Choctaw Mine      537429       215295
33  2013   101362                 Manchester Mine      219457       116914
34  2013   102996                  Jap Creek Mine      375715       164093
35  2013   103155              Corinth Prep Plant           0        27996
36  2013   103155              Corinth Prep Plant           0        51994
37  2013   103195     Mccollum/Sparks Branch Mine       71910        17411
38  2013   103342             Reese's Branch Mine      263888       115123
39  2013   103370             Cresent Valley Mine        2860          621
40  2013   103372                 Cane Creek Mine       66258        32401
41  2013   103376                      Town Creek      299167       176499
42  2013   103389                Carbon Hill Mine       76241        84966
43  2013   103410                Coal Valley Mine      407841       158591
44  2013   103423                Dutton Hill Mine       37275         9162
45  2013  1519322                         Ghm #25       25054         3108
46  2013   103321                  Poplar Springs      189370        76366
47  2013   103358                       Old Union      284563       161805
48  2013  5000030                        Usibelli     1631584       286079
49  2013   201195                    Kayenta Mine     7602722      1015333