In [1]:
import sqlite3

In [4]:
try:
# Connect to DB and create a cursor
    sqliteConnection = sqlite3.connect('sql.db')
    cursor = sqliteConnection.cursor()
    print('DB Init')
# Write a query and execute it with cursor
    query = 'select sqlite_version();'
    cursor.execute(query)
# Fetch and output result
    result = cursor.fetchall()
    print('SQLite Version is {}'.format(result))
# Close the cursor
    cursor.close()
# Handle errors
except sqlite3.Error as error:
    print('Error occurred - ', error)
# Close DB Connection irrespective of success
# or failure
finally:
    if sqliteConnection:
        sqliteConnection.close()
        print('SQLite Connection closed')

DB Init
SQLite Version is [('3.41.2',)]
SQLite Connection closed

In [5]:
import sqlite3
# Connecting to sqlite
# connection object
connection_obj = sqlite3.connect('geek.db')
# cursor object
cursor_obj = connection_obj.cursor()
# Drop the GEEK table if already exists.
cursor_obj.execute("DROP TABLE IF EXISTS GEEK")
# Creating table
table = """ CREATE TABLE GEEK (
    Email VARCHAR(255) NOT NULL,
    First_Name CHAR(25) NOT NULL,
    Last_Name CHAR(25),
    Score INT
); """
cursor_obj.execute(table)
print("Table is Ready")
# Close the connection
connection_obj.close()

Table is Ready

In [6]:
import sqlite3
# Connecting to sqlite
conn = sqlite3.connect('geeks2.db')
# Creating a cursor object using the
# cursor() method
cursor = conn.cursor()
# Creating table
table ="""CREATE TABLE STUDENT(NAME
VARCHAR(255), CLASS VARCHAR(255),
SECTION VARCHAR(255));"""
cursor.execute(table)
# Queries to INSERT records.
cursor.execute('''INSERT INTO STUDENT VALUES ('Raju','7th', 'A')''')
cursor.execute('''INSERT INTO STUDENT VALUES ('Shyam', '8th', 'B')''')
cursor.execute('''INSERT INTO STUDENT VALUES ('Baburao', '9th', 'C')''')
# Display data inserted
print("Data Inserted in the table: ")
data=cursor.execute('''SELECT * FROM STUDENT''')
for row in data:
    print(row)
# Commit your changes in the database
conn.commit()
# Closing the connection
conn.close()

Data Inserted in the table:
('Raju', '7th', 'A')
('Shyam', '8th', 'B')
('Baburao', '9th', 'C')

In [7]:
import sqlite3
# Connecting to sqlite
# connection object
connection_obj = sqlite3.connect('geek.db')
# cursor object
cursor_obj = connection_obj.cursor()
# to select all column we will use
statement = '''SELECT * FROM GEEK'''
cursor_obj.execute(statement)
print("All the data")
output = cursor_obj.fetchall()
for row in output:
    print(row)
connection_obj.commit()
# Close the connection
connection_obj.close()

All the data

In [8]:
import sqlite3
# Connecting to sqlite
# connection object
connection_obj = sqlite3.connect('geek.db')
# cursor object
cursor_obj = connection_obj.cursor()
# to select all column we will use
statement = '''SELECT * FROM GEEK'''
cursor_obj.execute(statement)
print("Only one data")
output = cursor_obj.fetchone()
print(output)
connection_obj.commit()
# Close the connection
connection_obj.close()

Only one data
None

In [9]:
# import the sqlite3 module
import sqlite3
# Define connection and cursor
connection = sqlite3.connect('geekforgeeks_student.db')
cursor = connection.cursor()
# create table
cursor.execute("DROP TABLE IF EXISTS STUDENT")
createTable = '''CREATE TABLE STUDENT(
    Student_ID int, First_Name VARCHAR(100),
    Last_Name VARCHAR(100), Age int,
    Department VARCHAR(100)
)'''
cursor.execute(createTable)

# check the database creation data
if cursor:
    print("Database Created Successfully !")
else:
    print("Database Creation Failed !")

# Commit the changes in database and Close the connection
connection.commit()
connection.close()

Database Created Successfully !

In [11]:
# import the sqlite3 module
import sqlite3
# Define connection and cursor
connection = sqlite3.connect('geekforgeeks_student.db')
cursor = connection.cursor()
# Insert data into the table
cursor.execute("INSERT INTO STUDENT VALUES (1,'Rohit', 'Pathak', 21, 'IT')")
cursor.execute("INSERT INTO STUDENT VALUES (2,'Nitin', 'Biradar', 21, 'IT')")
cursor.execute("INSERT INTO STUDENT VALUES (3,'Virat', 'Kohli', 30, 'CIVIL')")
cursor.execute("INSERT INTO STUDENT VALUES (4,'Rohit', 'Sharma', 32, 'COMP')")
# printing the cursor data
if cursor:
    print("Data Inserted !")
else:
    print("Data Insertion Failed !")
# Commit the changes in database and Close the connection
connection.commit()
connection.close()

Data Inserted !

In [12]:
import sqlite3
connection = sqlite3.connect('geekforgeeks_student.db')
cursor = connection.cursor()
# WHERE CLAUSE TO RETRIEVE DATA
cursor.execute("SELECT * FROM STUDENT WHERE Department = 'IT'")
# printing the cursor data
print(cursor.fetchall())
connection.commit()
connection.close()

[(1, 'Rohit', 'Pathak', 21, 'IT'), (2, 'Nitin', 'Biradar', 21, 'IT')]

In [14]:
import sqlite3
connection = sqlite3.connect('geekforgeeks_student.db')
cursor = connection.cursor()
# WHERE CLAUSE TO RETRIEVE DATA
cursor.execute("SELECT * from STUDENT WHERE First_name Like'R%'")
# printing the cursor data
print(cursor.fetchall())
connection.commit()
connection.close()

[(1, 'Rohit', 'Pathak', 21, 'IT'), (4, 'Rohit', 'Sharma', 32, 'COMP')]

In [16]:
import sqlite3
connection = sqlite3.connect('geekforgeeks_student.db')
cursor = connection.cursor()
# WHERE CLAUSE TO UPDATE DATA
cursor.execute("UPDATE STUDENT SET Department='E&TC' WHERE Student_ID = 2")
# printing the cursor data
cursor.execute("SELECT * from STUDENT")
print(cursor.fetchall())
connection.commit()
connection.close()

[(1, 'Rohit', 'Pathak', 21, 'IT'), (2, 'Nitin', 'Biradar', 21, 'E&TC'), (3, 'Virat', 'Kohli', 30, 'CIVIL'), (4, 'Rohit', 'Sharma', 32, 'COMP')]

In [17]:
import sqlite3
connection = sqlite3.connect('geekforgeeks_student.db')
cursor = connection.cursor()
# WHERE CLAUSE TO DELETE DATA
cursor.execute("DELETE from STUDENT WHERE Age = 32")
#printing the cursor data
cursor.execute("SELECT * from STUDENT")
print(cursor.fetchall())
connection.commit()
connection.close()

[(1, 'Rohit', 'Pathak', 21, 'IT'), (2, 'Nitin', 'Biradar', 21, 'E&TC'), (3, 'Virat', 'Kohli', 30, 'CIVIL')]

In [18]:
# importing sqlite module
import sqlite3
# create connection to the database
# geeks_database
connection = sqlite3.connect('geeks_database.db')
# create table named address of customers
# with 4 columns id,name age and address
connection.execute('''CREATE TABLE customer_address
(ID INT PRIMARY KEY NOT NULL,
NAME TEXT NOT NULL,
AGE INT NOT NULL,
ADDRESS CHAR(50)); ''')
# close the connection
connection.commit()
connection.close()

In [19]:
# importing sqlite module
import sqlite3
# create connection to the database
# geeks_database
connection = sqlite3.connect('geeks_database.db')
# insert records into table
connection.execute(
"INSERT INTO customer_address VALUES (1, 'nikhilteja', 22, 'hyderabad' )")
connection.execute(
"INSERT INTO customer_address VALUES (2, 'karthik', 25, 'khammam')")
connection.execute(
"INSERT INTO customer_address VALUES (3, 'sravan', 22, 'ponnur' )")
connection.execute(
"INSERT INTO customer_address VALUES (4, 'deepika', 25, 'chebrolu' )")
connection.execute(
"INSERT INTO customer_address VALUES (5, 'jyothika', 22, 'noida')")
connection.commit()
# close the connection
connection.close()

In [20]:
# importing sqlite module
import sqlite3
# create connection to the database
# geeks_database
connection = sqlite3.connect('geeks_database.db')
# sql query to display all details from
# table in ascending order based on address nor mal display
cursor = connection.execute(
"SELECT ADDRESS,ID from customer_address ORDER BY address ")
# display data row by row
for i in cursor:
    print(i)
    connection.commit()
# close the connection
connection.close()

('chebrolu', 4)
('hyderabad', 1)
('khammam', 2)
('noida', 5)
('ponnur', 3)

In [21]:
# importing sqlite module
import sqlite3
# create connection to the database
# geeks_database
connection = sqlite3.connect('geeks_database.db')
# sql query to display address and id
# based on address in descending order
cursor = connection.execute("SELECT ADDRESS,ID from customer_address ORDER BY address DESC")
# display data row by row
for i in cursor:
    print(i)
    connection.commit()
# close the connection
connection.close()

('ponnur', 3)
('noida', 5)
('khammam', 2)
('hyderabad', 1)
('chebrolu', 4)

In [23]:
# importing sqlite module
import sqlite3
# create connection to the database
# geeks_database
connection = sqlite3.connect('geeks_database.db')
# sql query to display name and id based
# on name in descending order
cursor = connection.execute(
"SELECT NAME,ID from customer_address ORDER BY NAME DESC")
# display data row by row
for i in cursor:
    print(i)
    connection.commit()
# close the connection
connection.close()

('sravan', 3)
('nikhilteja', 1)
('karthik', 2)
('jyothika', 5)
('deepika', 4)

In [26]:
# importing sqlite module
import sqlite3
# create connection to the database
# geeks_database
connection = sqlite3.connect('geeks_database.db')
# create table named address of customers
# with 4 columns id,name age and address
connection.execute('''CREATE TABLE customer_address (ID INT PRIMARY KEY NOT NULL,NAME TEXT NOT NULL,AGE INT NOT NULL,ADDRESS CHAR(50)); ''')
connection.commit()
# close the connection
connection.close()

OperationalError: table customer_address already exists

In [29]:
# importing sqlite module
import sqlite3
# create connection to the database
# geeks_database
connection = sqlite3.connect('geeks_database.db')
# insert records into table
connection.execute("INSERT INTO customer_address VALUES (1, 'nikhilteja', 22, 'hyderabad')")
connection.execute("INSERT INTO customer_address VALUES (2, 'karthik', 25, 'khammam')")
connection.execute("INSERT INTO customer_address VALUES (3, 'sravan', 22, 'ponnur' )")
connection.execute("INSERT INTO customer_address VALUES (4, 'deepika', 25, 'chebrolu' )")
connection.execute("INSERT INTO customer_address VALUES (5, 'jyothika', 22, 'noida')")
Cursor.Commit()
# close the connection
connection.close()

IntegrityError: UNIQUE constraint failed: customer_address.ID

In [31]:
# importing sqlite module
import sqlite3
# create connection to the database
# geeks_database
connection = sqlite3.connect('geeks_database.db')
# sql query to display top4 data from table
cursor = connection.execute("SELECT * FROM customer_address LIMIT 4")
# display data row by row
for i in cursor:
    print(i)
connection.commit()
# close the connection
connection.close()

(1, 'nikhilteja', 22, 'hyderabad')
(2, 'karthik', 25, 'khammam')
(3, 'sravan', 22, 'ponnur')
(4, 'deepika', 25, 'chebrolu')

In [34]:
# Import required libraries
import sqlite3
# Connect to SQLite database
# New file created if it doesn't already exist
conn = sqlite3.connect(r'C:\Users\vyome\anaconda3\Web_Analytics')
# Create cursor object
cursor = conn.cursor()
# Create and populate tables
cursor.executescript('''CREATE TABLE Advisor(AdvisorID INTEGER NOT NULL,AdvisorName TEXT NOT NULL,PRIMARY KEY(AdvisorID));
CREATE TABLE Student(StudentID NUMERIC NOT NULL,StudentName NUMERIC NOT NULL,AdvisorID INTEGER,FOREIGN KEY(AdvisorID) REFERENCESAdvisor(AdvisorID),PRIMARY KEY(StudentID));
INSERT INTO Advisor(AdvisorID, AdvisorName) VALUES (1,"John Paul"),(2,"Anthony Roy"),(3,"Raj Shetty"),(4,"Sam Reeds"),(5,"Arthur Clintwood");
INSERT INTO Student(StudentID, StudentName, AdvisorID) VALUES (501,"Geek1",1),(502,"Geek2",1),(503,"Geek3",3),(504,"Geek4",2),(505,"Geek5",4),(506,"Geek6",2),(507,"Geek7",2),(508,"Geek8",3),(509,"Geek9",NULL),(510,"Geek10",1);''')
#Commit changes to database
conn.commit()
# Closing the connection
conn.close()

OperationalError: unable to open database file

In [33]:
# Import required libraries
import sqlite3
# Connect to SQLite database
conn = sqlite3.connect(r'C:\Users\SQLite\Geeks.db')
# Create cursor object
cursor = conn.cursor()
# Query for INNER JOIN
sql = '''SELECT StudentID, StudentName, AdvisorName FROM Student INNER JOIN Advisor ON Student.AdvisorID = Advisor.AdvisorID;'''
# Executing the query
cursor.execute(sql)
# Fetching rows from the result table
result = cursor.fetchall()
for row in result:
    print(row)
# Closing the connection
conn.close()

OperationalError: unable to open database file

In [35]:
# Import required libraries
import sqlite3
# Connect to SQLite database
conn = sqlite3.connect(r'C:\Users\SQLite\Geeks.db')
# Create cursor object
cursor = conn.cursor()
# Query for LEFT JOIN
sql = '''SELECT StudentID, StudentName, AdvisorName FROM Student LEFT JOIN Advisor USING(AdvisorID) ;'''
# Executing the query
cursor.execute(sql)
# Fetching rows from the result table
result = cursor.fetchall()
for row in result:
    print(row)
# Closing the connection
conn.close()

OperationalError: unable to open database file

In [36]:
# Import required libraries
import sqlite3
# Connect to SQLite database
conn = sqlite3.connect(r'C:\Users\SQLite\Geeks.db')
# Create cursor object
cursor = conn.cursor()
# Query for RIGHT JOIN
sql = '''SELECT StudentID, StudentName, AdvisorName FROM Advisor LEFT JOIN Student USING(AdvisorID);'''
# Executing the query
cursor.execute(sql)
# Fetching rows from the result table
result = cursor.fetchall()
for row in result:
    print(row)
# Closing the connection
conn.close()

OperationalError: unable to open database file

In [37]:
# Import required libraries
import sqlite3
# Connect to SQLite database
conn = sqlite3.connect(r'C:\Users\SQLite\Geeks.db')
# Create cursor object
cursor = conn.cursor()
# Query for FULL OUTER JOIN
sql = '''SELECT StudentID, StudentName, AdvisorName FROM Student LEFT JOIN Advisor USING(AdvisorID) UNION ALL SELECT StudentID, StudentName, AdvisorName FROM Advisor LEFT JOIN Student USING(AdvisorID) WHERE Student.AdvisorID IS NULL;'''
# Executing the query
cursor.execute(sql)
# Fetching rows from the result table
result = cursor.fetchall()
for row in result:
    print(row)
# Closing the connection
conn.close()

OperationalError: unable to open database file

In [38]:
# Import required libraries
import sqlite3
# Connect to SQLite database
conn = sqlite3.connect(r'C:\Users\SQLite\Geeks.db')
# Create cursor object
cursor = conn.cursor()
# Query for CROSS JOIN
sql = '''SELECT StudentID, StudentName, AdvisorName FROM Student CROSS JOIN Advisor;'''
# Executing the query
cursor.execute(sql)
# Fetching rows from the result table
result = cursor.fetchall()
for row in result:
    print(row)
# Closing the connection
conn.close()

OperationalError: unable to open database file